#container{
    padding: 3rem 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    background-color: #427D9D;
}
@media screen and (max-width:400px) {
    #container{
        padding: 2rem 0;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
}